/* Kargo Dummy Test Site- Series 500 (iphone) */
* { margin:0; padding:0; }

/* html */
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size:13px;
    margin:0px;
    color:#e5e5e5;
    background-color:#FFF;
    -webkit-text-size-adjust:none;
    }

body::-webkit-scrollbar {
	display: none;
}

h1 {
    font-weight:bold;
    margin:0px;
    font-size:15px;
    margin-left: -4px;
	margin-right: -4px;
	top:-5px;
    }

h3 {
	color:#e5e5e5;
    font-size:18px;
    font-weight:bold;
    margin:0px;
    padding:4px 0px 6px 0px;
    }

img {
    border:0;
    display:block;
    }

li {
    display:table;
    list-style:none;
    width:100%;
    }

p {
    width:100%;
    }

input[type=checkbox] { height:20px; vertical-align:middle; width:20px; margin:5px; }
input[type=radio] { height:20px; margin:5px; vertical-align:middle; width:20px; }
input[type=submit] { /*display:block;*/ font-size:13px; font-weight:bold; height:35px; margin:5px auto 10px auto; background-color:#47795c; border:none; color:#FFF; text-transform:uppercase; padding:5px 10px; }
input[type=text] { color:#e5e5e5; font-size:14px; font-weight:normal; height:25px; padding:0 0 0 5px; vertical-align:baseline; text-transform:uppercase; font-family: Arial; }
input.button { display:inline; }

ol.inner-nav  {
	padding: 0px;
	text-indent: 15px;
	}
ol.inner-nav li a{
	background-color: #eeeeee !important;
	}
ol.inner-nav li a > p {
	color: #888888;
	}

select { font-size:15px; font-weight:bold; height:25px; }

textarea { color:#666666; font-size:13px; font-weight:bold; height:70px; margin:0px 0px 5px 0px; padding:5px; width:95%; }

table input[type=tel] {
	height:24px;
	width:140px;
	}
/* link controls */
a {
    color:#e5e5e5;
    text-decoration:none;
    }

a.mainlink {
    display:inline;
    color:#e5e5e5;
    font-weight:bold;
    font-size:12px;
    text-transform:capitalize;
    }

/* classes */

.ad-banner {
    text-align:center;
    }
.ad-banner > a {
    color:#FFF;
    display:inline;
    background-color:transparent;
    }
.ad-banner > a > img {
    margin: 5px auto 0px auto;
    display:inline;
    }
.border-00 {
    margin:0px 10px;
    }
.border-01 {
    margin:0px 10px;
    }

.scroll-button {
    color: #777777;
    position: absolute;
    top: 14rem;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 16px;
}

.arrow {
    fill: white;
    width: 20px;
    height: 20px;
    background-color: #777777;
    border-radius: 50%;
    padding: 5px;
    animation: bounce 2s linear infinite forwards;
    position: relative;
    margin: 0 auto;
}

@keyframes bounce {
    0%, 20%, 50%, 70%, 100% {
      transform: translate(0, -10px);
    }
    60% {
      transform: translate(0, -20px);
    }
    80% {
      transform: translate(0, -15px);
    }
}

.bottom {
    display:block;
    background-color:#e5e5e5;
    text-align:center;
    font-size:12px;
    padding:5px;
    color:#FFF;
    padding: 30px 0px;
	}
.bottom>a {
	font-weight:bold;
    display:inline;
	color:#FFF;
	}
.comment {
    background-color:#f9f9f9;
    border:1px solid #f5f5f5;
    padding:5px;
    margin-top:8px;
    color:#e5e5e5;
    font-size:12px;
    }
.comment .date {
	color:#e5e5e5;
	}
.comment .date a.mainlink {
    display:inline;
    color:#e5e5e5;
    text-transform:capitalize;
    font-weight:normal;
    font-size:11px;
    }
.content {
    padding:10px;
    clear:both;
    background-color: #FFF;
    border-left: #f5f5f5 1px solid;
    border-right: #f5f5f5 1px solid;
    border-bottom: #f5f5f5 1px solid;
    }
.content img {
    margin:10px auto 10px auto;
    }
.content .innernav { font-weight:bold; padding:0px; margin:0px 0px; }
.content .innernav li { padding:0px; }
.content .innernav li a { color:#e5e5e5; display:table-cell; margin:0px; padding:15px 5px 15px 10px; width:50%; font-size:11px; font-weight:bold; text-transform: uppercase; }
.content .innernav li a.prev { background:url(/img/skins/kargo/pointer_prev.png") no-repeat scroll 0 50% transparent; text-align: left; padding:15px 5px 15px 24px; background-size:13px 18px; }
.content .innernav li a.next { background:url(/img/skins/kargo/pointer_next.png") no-repeat scroll 100% 50% transparent; text-align: right; padding:15px 24px 15px 5px; background-size:13px 18px; }
.content .item { padding:0px; margin:0px; }
.content .item li { background:#FFF; margin:0px; padding:0px; border:none; }
.content .item li p { font-size:1.3em; margin:0px; }
.content .item li img { margin:0px; padding:10px 0px 10px 0px; }
.content p {
	line-height:150%;
	margin-bottom: 10px;
	}

.date {
    font-size:11px;
    color:#e5e5e5;
    }

.innernav {
    background-color:#FFF;
    font-weight:bold;
    margin:5px;
    padding:0;
    }
.innernav {
    margin:5px;
    padding:0px;
    }
.innernav > li {
    margin:0px 0px 0px 0px;
    padding:0px;
    border-top:#f5f5f5 1px solid;
    border-bottom:#f5f5f5 1px solid;
    /* to keep the doubled border looks like a single*/
	margin-top:-1px;
    }

.innernav .mainlink {
	background-image:url("/img/skins/kargo/pointer_next.png");
	background-repeat:no-repeat;
	background-position:100% 50%;
	background-color:#FFF;
	background-size:13px 18px;
	padding-right: 10px;
	}
.item {
    clear: left;
    list-style:none;
    background-color:#FFF;
    margin: 10px;
    padding:0px;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
    }

.item a, .nav a { display:table-row; }

.item a > p {
    font-size:13px;
    padding:12px 15px 8px 3px;
    width:100%;
    font-weight:bold;
    word-wrap: break-word;
    }

.item img,
.item p {
    display:table-cell;
    vertical-align:top;
    padding:10px 10px 10px 15px;
    border-bottom:#f5f5f5 1px solid;

    }
.item > li {
	background: #FFF;
	}
/****** hiding the top and bottom borders ******/
.item li:nth-child(2) a p, .item li:nth-child(2) img {
	border-top:none;
	}
.item li:last-child a p, .item li:last-child img {
	border-bottom:none;
	}

.item > li > a.next {
    padding:8px 20px 8px 7px;
    text-align:right;
    background:transparent url("/img/skins/kargo/pointer_more.png") 100% 45% no-repeat;
    background-size:23px 18px;
    }

.item > li > a.next > p {
	color:#e5e5e5;
	font-weight:bold;
	font-size:12px;
	padding-top:13px;
	padding-bottom:13px;
	padding-right:28px;
	text-transform: uppercase;
	}

.logo img { margin:0px auto 0px auto; padding-top:10px; padding-bottom:5px; }
.logo {
	color:#f5f5f5;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	padding-top:0px;
	padding-bottom:0px;
	}

.nav {
    background-color:#FFF;
    font-weight:bold;
    margin:0px;
    padding:0;
    }
.nav img,
.nav p {
    display:table-cell;
    vertical-align:top;
    padding:2px;
    }

.nav a > p {
	background-color: #f5f5f5;
	background-image: url("/img/skins/kargo/pointer_next.png");
	background-repeat: no-repeat;
	background-position: 98% 50%;
	background-size:13px 19px;
    padding:12px 20px 11px 15px;
    border-top:#e5e5e5 1px solid;
    border-bottom:#FFFFFF 1px solid;
    color:#d5d5d5;
    font-weight:bold;
    font-size:13px;
    }


.nav a p:hover {
    background:#ee4e11;
	color:#FFF;
	text-shadow:none;
	background-image: url("/img/skins/kargo/pointer_wh.png");
	background-size:13px 19px;
	background-repeat: no-repeat;
	background-position: 98% 50%;
	}

.nav li ol li a p {
	background:#000 repeat-x 0% 0%;
	color:#666;
	padding-left:20px;
	}
.nav li ol li ol li a p {
	background-color:#f8fbff;
	color:#2c539f;
	padding-left:30px;
	}

.nav li:first-child a p {
	background-color: #000;
	color: #FFF;
	background-image: url("/img/skins/kargo/pointer_or.png");
	background-size:13px 19px;
	background-repeat: no-repeat;
	background-position: 98% 50%;
	}

.post {
    background-color:#FFF;
    font-weight:bold;
    margin:0px 10px 5px 10px;
    padding:0;
    }
.post > li {
    margin:0px 0px 15px 0px;
    padding:0px;
    border-top:#f5f5f5 1px solid;
    border-bottom:#f5f5f5 1px solid;
    border-right:#f5f5f5 1px solid;
    border-left:#f5f5f5 1px solid;
    }
.post > li > a {
    display:table-cell;
    margin:0px;
    padding:5px;
    width:50%;
    color:#e5e5e5;
    font-size:12px;
    }
.post > li > a.prev {
    padding:13px 7px 13px 24px;
    text-align:left;
    background:transparent url("/img/skins/kargo/pointer_prev.png") 3% 50% no-repeat;
    background-size:13px 18px;
    font-weight:bold;
    text-transform:uppercase;
    }
.post > li > a.next {
    padding:13px 24px 13px 7px;
    text-align:right;
	background:transparent url("/img/skins/kargo/pointer_next.png") 97% 50% no-repeat;
    background-size:13px 18px;
    font-weight:bold;
    text-transform:uppercase;
    }
.search {
    background-color:#eee;
    padding:15px 15px;
    margin:4px 0px 0px 0px;
    color:#e5e5e5;
    border-top: #e5e5e5 solid 1px;
    }
.search input[type="submit"] {
	background:url("/img/skins/kargo/btn_search.png") no-repeat scroll 100% 50% transparent;
	background-size:26px 26px;
	border:medium none;
	cursor:pointer;
	float:right;
	font-size:1px;
	color:transparent;
	height:32px;
	margin:0;
	padding:0;
	width:26px;
	}
.search input[type=text] { width:87%; height:27px; border: 1px solid #FFF; }
.selected {
    background-color:#007d9f;
	color:#FFF;
	}
.title {
    color:#FFF;
    font-weight:bold;
    font-size:15px;
    margin: 5px 6px 0px 6px;
    }

/*Default*/
.theme-00 {
    background-color: #f0f0f0;
    padding:8px 20px 8px 10px;
    color:#FFF;
	position:relative;
    }

.theme-01 {
    background-color: #f0f0f0;
    padding:8px 20px 8px 10px;
    color:#FFF;
	position:relative;
    }
.theme-02 {
    background-color: #f0f0f0;
    padding:8px 20px 8px 10px;
    color:#FFF;
    position:relative;
    }
.theme-03 {
    background-color: #f0f0f0;
    padding:8px 20px 8px 10px;
    color:#FFF;
    position:relative;
    }

.portal_home { float: left; margin-top: -54px; border-right: #eee 1px solid;}
.portal_home img { text-align:center; display:block; width:22px; margin: 0px; padding: 18px 18px 14px; opacity: .1;}

.ksl-header
{
    z-index: 20;
    position: relative;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
.ksl-header {
	background-color: #FFF;
	border-bottom: 1px solid #eee;
	}

#kargo-demo-panel {
    display: block;
    height: 50px;
    width: 100%;
}
#kargo-demo-panel a {
    width: 30%;
    display: inline-block;
    text-align: center;
    height: 100%;
}
#kargo-demo-panel a img {
    height: 30px;
    width: auto;
    display: inline-block;
}

body.krg-ss-active .krg-ss-header { border: none; }
/* custom logo styles */
body.template-cbs .logo img { margin:0px auto 0px auto; padding-top:7px; padding-bottom:8px; width:130px; }
body.template-cbs .logo {
    background: -moz-linear-gradient(top,#fdfdfd 0,#f4f4f4 47%,#d7d7d7 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fdfdfd),color-stop(47%,#f4f4f4),color-stop(100%,#d7d7d7));
    background: -webkit-linear-gradient(top,#fdfdfd 0,#f4f4f4 47%,#d7d7d7 100%);
    background: -o-linear-gradient(top,#fdfdfd 0,#f4f4f4 47%,#d7d7d7 100%);
    background: -ms-linear-gradient(top,#fdfdfd 0,#f4f4f4 47%,#d7d7d7 100%);
    background: linear-gradient(to bottom,#fdfdfd 0,#f4f4f4 47%,#d7d7d7 100%);
    border-bottom:solid 1px #fff!important;
    color:#f5f5f5;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top:0px;
    padding-bottom:0px;
    }
body.template-cbs .portal_home {
background: #fff;
background: -moz-linear-gradient(top,#feffff 0,#feffff 50%,#d6d6d6 53%,#d6d6d6 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#feffff),color-stop(50%,#feffff),color-stop(53%,#d6d6d6),color-stop(100%,#d6d6d6));
background: -webkit-linear-gradient(top,#feffff 0,#feffff 50%,#d6d6d6 53%,#d6d6d6 100%);
background: -o-linear-gradient(top,#feffff 0,#feffff 50%,#d6d6d6 53%,#d6d6d6 100%);
background: -ms-linear-gradient(top,#feffff 0,#feffff 50%,#d6d6d6 53%,#d6d6d6 100%);
background: linear-gradient(to bottom,#feffff 0,#feffff 50%,#d6d6d6 53%,#d6d6d6 100%);
float: left;
margin-top: -46px;
-webkit-border-radius: 7px;
border-radius: 7px;
border: solid 1px #a2a2a2;
padding: -10px;
margin-left: 10px;
}
body.template-cbs .portal_home img { width: 50px; opacity: 1.0; text-align:center; display:block; margin: 0px; padding: 5px 3px; }

body.template-cbs_news .logo img { margin:0px auto 0px auto; padding-top:7px; padding-bottom:8px; width:200px; }
body.template-cbs_news .logo {
    background-image: url(/img/skins/cbs/icon_menu_cbsnews_solid.png),-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #424b55), color-stop(100%, #0a0c0e));
    background-image: url(/img/skins/cbs/icon_menu_cbsnews_solid.png),-webkit-linear-gradient(#424b55,#0a0c0e);
    background-image: url(/img/skins/cbs/icon_menu_cbsnews_solid.png),-moz-linear-gradient(#424b55,#0a0c0e);
    background-image: url(/img/skins/cbs/icon_menu_cbsnews_solid.png),-o-linear-gradient(#424b55,#0a0c0e);
    background-image: url(/img/skins/cbs/icon_menu_cbsnews_solid.png),linear-gradient(#424b55,#0a0c0e);
    background-size: 50px 35px, 100% 100%;
    background-repeat: no-repeat, repeat;
    background-position: 10px 9px, 0 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5) inset,0 -1px 0 rgba(255,255,255,0.2) inset;
    color:#f5f5f5;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top:0px;
    padding-bottom:0px;
}
body.template-cbs_news .portal_home {
float: left;
margin-top: -48px;
padding: -10px;
margin-left: 10px;
border: none;
}
body.template-cbs_news .portal_home img { width: 50px; opacity: 1.0; text-align:center; display:block; margin: 0px; padding: 5px 3px; }
body.template-refinery_29 .header-logo img { width: 180px; padding-top: 5px; }
body.template-cbs_sports .logo img { margin:0px auto 0px auto; padding-top:0px; padding-bottom:0px; width:150px; }
body.template-cbs_sports .logo {
    background-image: url(/img/skins/cbs/icon_menu_cbssports_solid.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #004A8E), color-stop(100%, #004A8E));
    background-image: url(/img/skins/cbs/icon_menu_cbssports_solid.png), -webkit-linear-gradient(#004A8E,#004A8E);
    background-image: url(/img/skins/cbs/icon_menu_cbssports_solid.png), -moz-linear-gradient(#004A8E,#004A8E);
    background-image: url(/img/skins/cbs/icon_menu_cbssports_solid.png), -o-linear-gradient(#004A8E,#004A8E);
    background-image: url(/img/skins/cbs/icon_menu_cbssports_solid.png), linear-gradient(#004A8E,#004A8E);
    background-size: 51px 43px, 100% 100%;
    background-repeat: no-repeat, repeat;
    color:#f5f5f5;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top:0px;
    padding-bottom:0px;
    }
body.template-cbs_sports .portal_home {
    float: left;
    margin-top: -47px;
    margin-left: 0px;
    border-right: none;
}
body.template-cbs_sports .portal_home img {
    text-align:center;
    display:block;
    margin: 0px;
    padding: 5px 3px;
    width: 50px;
    opacity: 1;
}
body.template-mec .header-logo img { width: 30px; }
body.template-the_hollywood_reporter .header-logo img { padding: 4px 0; width: 200px; }
body.template-unbranded_template .logo { height: 50px; }
body.template-unbranded_template .logo img { display: none; }
body.template-unbranded_template div.bottom { display: none; }

.krg-demo-desktop {
    padding-top: 30px;
}

.krg-demo-desktop .container {
    width: 90%;
    min-width: 890px;
    margin: auto;
    display: table;
    position: relative;
}

.krg-demo-desktop main {
    width: 66.66%;
    display: table-cell;
    position: relative;
}

.krg-demo-desktop aside {
    width: 33.33%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.krg-sizer-container {
    position: relative;
}

.krg-sizer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    border: 1px dotted black;
    box-sizing: border-box;
    z-index: 99999;
    background: rgba(162, 245, 152, 0.25);
}

.krg-demo-desktop .krg-sidebar.krg-sizer {
    width: 300px;
    height: 100%;
}

.krg-demo-desktop .krg-middle.krg-sizer.horizontal {
    height: 250px;
    width: 600px;
}

.krg-demo-desktop .krg-middle.krg-sizer.vertical {
    width: 300px;
    height: 600px;
}

.krg-demo-desktop .krg-atf-desktop.krg-sizer.horizontal {
    height: 90px;
    width: 1024px;
}

.krg-demo-desktop .krg-atf-desktop.krg-sizer.vertical {
    width: 970px;
    height: 200px;
}

.krg-demo-desktop header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    min-width: 1024px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
}

.krg-demo-desktop .header-logo {
    display: inline-block;
    height: 4em;
    width: auto;
}

.krg-demo-desktop .fake-menu {
    display: inline-flex;
    justify-content: space-evenly;
    width: 480px;
    font-size: 1.5em;
    align-items: center;
    margin-left: 30px;
}

.ad-tag-build-selector {
    position: fixed;
    top: 2px;
    right: 5px;
    z-index: 999999;
    color: grey;
}

.ad-tag-build-selector select {
    font-size: 1em;
    color: grey;
    border: 1px solid #b1b1b1;
}

/* Utility classes */
.hidden {
    display: none;
}
