
body {text-align: center;}

#dumb {text-align: center;}

#main {
background-image: url(images/img.png);
background-repeat: no-repeat;
width: 736px;
height: 958px;
text-align: center;
padding-top: 7px;
}

#foot {
background-image: url(images/img1.png);
background-repeat: no-repeat;
width: 736px;
height: 25px;
text-align: center;
font-weight: bold;
color: ffffff;
margin-top: -5px;
padding-top: 2px;
}

#nudge {
margin-top: 3px;
}

.under {
text-decoration: underline;
}

.lelft {
text-align: left;
}

.floatright {
float: right;
}

.center {
text-align: center;
}

#foot a:link  {
text-decoration: none;
font-weight: bold;
color: ffffff;
}

#foot a:visited  {
text-decoration: none;
font-weight: bold;
color: ffffff;
}

#foot a:hover  {
text-decoration: underline;
font-weight: bold;
color: ffffff;
}

